.navbar{
  margin-bottom:0;
  position:relative;
  width:100%;
}
html, body{
  overflow:auto;
  overflow-x:hidden;
  margin:0;
  height:100%;
  font-family:Orbitron, sans-serif;
  font-size:30px;
  -webkit-background-size:cover;
  -moz-background-size:cover;
  -o-background-size:cover;
  background-size:cover;
  background-position:center;
}
img{
  box-shadow:20px 20px 20px black;
  border-radius:20%;
  padding:5px 5px 5px 5px;
}
.block{
  background:rgba(0,0,0,.4);
  color:white;
  padding:50px;
  width:80%;
  margin-left:auto;
  margin-right:auto;
  border-radius:100px;
}
section{
  position:relative;
  margin:0 -9999rem;
  padding:5.25rem 9999rem;
  text-align:center;
}
#welsection{
  background-color:#2C3E50;
  color:white;
}
#abosection{
  background-image: url("http://unsplash.it/1000/490?image=1026");
  background-repeat:no-repeat;
  background-size:contain;
  background-position:center;
  /*background-color:#3498db*/
  color:white;
}
#abosection p{
  
  padding:0 250px;
  text-align:left;
}
#skisection{
  background-color:white;
  color:black;
}
.sectionImg{
  position:relative;
  margin:0 -9999rem;
  padding:5.25rem 9999rem;
  text-align:center;
}
#worsection{
  background-color:orange;
  color:white;
}
#clisection{
  background-color:red;
  color:white;
  
  position:relative;
  margin:0 -9999rem;
  padding:.25rem 9999rem;
  text-align:center;
  padding-bottom:50px;
}
#consection{
  background-color:black;
  color:white;
}
